body.react-confirm-alert-body-element {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

.react-confirm-alert-blur {
  filter: none !important;
}
